@tailwind base;
@tailwind components;
@tailwind utilities;

#carousel{
    max-height:500px ;
    
}


.modal-backdrop {
    position: fixed;
    /* margin-top: 600px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  padding-top: 20px; /* Optional padding to give some space from the top */
  }
  
  .modal-content {
    position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 90%;
  width: 90%;
  border-radius: 8px; /* Optional: Add some border radius for aesthetics */
  overflow: auto; /* Optional: Handle overflow content */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
  padding: 20px; /* Optional: Add padding inside the modal content */
  scroll-behavior: smooth;
}

.foodDetails{
  background-color:#f3e2d5 !important;
}

